.idea
/oefeningen/week_4/jan-de-rijke/node_modules/
/net-ninja/node_modules/
/oefeningen/week_5_async/voorbeelden/node_modules/
/oefeningen/week_6_geautomatiseerde_tests/voorbeelden/seppe/node_modules/
/oefeningen/week_6_geautomatiseerde_tests/voorbeelden/seppe_super/node_modules/
/oefeningen/week_6_geautomatiseerde_tests/oefening/node_modules/
/oefeningen/week_7_jquery_fetch_async/oefeningen/node_modules/
/oefeningen/week_7_jquery_fetch_async/oefeningen/oefening_5/node_modules/
/oefeningen/week_8_webpack/voorbeelden/node_modules/
/oefeningen/week_9_sass/voorbeelden/node_modules/
/examen/WT2_P4_0013/data/node_modules/
/examen/WT2_P4_0013/client/node_modules/
